.historias
    width 100%
    display flex
    flex-direction column
    overflow hidden
    
.container
    display flex
    flex-direction column
    width 100%
    overflow hidden
    @media screen and (min-width: 1024px)
        height 90vh
        flex-direction row

    &-left
        flex 1 1 60%
        display flex       
        justify-content flex-start
        overflow hidden

        & img
            width auto
            flex auto
                

    &-right
        flex 1 1 40%
        display flex
        flex-direction column
        justify-content: flex-start
        align-items: flex-start
       
        &-text
            flex 1 1 70%
            display flex
            flex-direction column
            justify-content: center
            align-items: center
            background white
            @media screen and (max-width: 1024px)
                padding 100px 0
            
 
            
 
.reverse
    @media screen and (min-width: 1024px)
        height 90vh
        flex-direction row-reverse


